<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.BannerDao">
    <insert id="insertBanner">
        insert into cmfz_banner values(#{id},#{title},#{imgPath},#{desc},#{status},#{createDate})
    </insert>

    <delete id="deleteBanner">
      delete from cmfz_banner where id=#{id}
    </delete>

    <update id="updateBanner">
        update cmfz_banner set title=#{title},imgPath=#{imgPath},`desc`=#{desc},status=#{status},createDate=#{createDate} where id=#{id}
    </update>

    <select id="queryallBanner" resultType="com.baizhi.entity.Banner">
        select * from cmfz_banner
    </select>

    <select id="queryoneBanner" resultType="com.baizhi.entity.Banner">
        select * from cmfz_banner where id=#{id}
    </select>
</mapper>