<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.GuruDao">
    <select id="queryallGuru" resultType="com.baizhi.entity.Guru">
        select * from cmfz_guru
    </select>

    <insert id="insertGuru">
      insert into cmfz_guru values(#{id},#{name},#{headPic},#{sex})
    </insert>

    <delete id="deleteGuru">
      delete from cmfz_guru where id=#{id}
    </delete>

    <update id="updateGuru">
      update cmfz_guru set name=#{name},headPic=#{headPic},sex=#{sex} where id=#{id}
    </update>

</mapper>